// CSS for the index.tsx template.

@import "scss/variables";


.generalPreloader {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.demoPreloader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.greetings {
    text-transform: uppercase;
}



.backgroundImage {
    background-image: url('/images/tech.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.backgroundColor {
    width: 100%;
    height: 100%;
    background: rgba(63, 81, 181, 0.3);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.backgroundColorInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.bgLineColor {
    background: #3a7ca5;
    color: #fff;
    overflow-x: hidden;

}

.bgLine {
    background: #3a7ca5;
    color: #fff;
}

.bg {
    margin: 0;
    padding: 0;
}

.bgLine h2,
.bg h2 {
    margin: 0;
    padding: 0;
}

.fadeColumns {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 40px 0;
}

.fadeColumns .left {
    margin-right: 20px;
    width: 50%;
}

.fadeColumns .right {
    margin-left: 20px;
    width: 50%;
}